.App {
    height: 100%;
    width: 100%;
    header {
        height: 80px;
    }
    h1, h2 {
        text-align: center;
    }
    main {
        height: calc(100% - 110px);
        padding: 20px;
        box-sizing: border-box;
    }
    footer {
        text-align: center;
    }
}